# Virtuelle Umgebung
.venv/

# Python Cache
__pycache__/
*.pyc

# Daten und Plots
data/
plots/
.ipynb_checkpoints/

# Editor
.vscode/

# Build-Artefakte
build/
*.pyd
src/prim/*.pyd
*.egg-info/

# Kompilierte Binaries und Objektdateien
*.dll
*.so
*.dylib
*.exe
*.obj
*.lib
*.exp
*.def
*.ilk
*.pdb

# Cython-generierte C-Dateien (optional)
# prim/optimized_cython.c  # Falls Cython das generiert

# **Wichtig**: src/prim_src wird nicht ignoriert, damit MyPy und CI darauf zugreifen können
